<div class="mt-5">
    <h2>Nosotros</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, velit ex magnam dolores vel 
       possimus placeat quae optio dicta quas reiciendis iusto earum qui, 
       cupiditate labore a explicabo error! Dolor?</p>
</div>