<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a (click)="estadoimg=true" (click)="estadoimg2=false || estadoimg3=false">
        <img src="./assets/moda hombre.jpg" class="d-block w-100" alt="...">
        <br>
        <div class="carousel-caption d-none d-md-block">
          <h3>Ropa Formal para Hombre</h3>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a (click)="estadoimg2=true" (click)="estadoimg=false || estadoimg3=false">
        <img src="./assets/moda mujer.jpg" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a>
    </div>

    <div class="carousel-item">
      <a (click)="estadoimg3=true" (click)="estadoimg=false || estadoimg2=false">
        <img src="./assets/moda deportiva.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
<hr>
<div *ngIf="estadoimg" class="row">
  <div class="card col-lg-4" style="width: 18rem;">
    <img src="./assets/ropa hombre 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

  <div class="card col-lg-4" style="width: 18rem;">
    <img src="./assets/ropa hombre 2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

  <div class="card col-lg-4" style="width: 18rem;">
    <img src="./assets/ropa hombre 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
</div>

<div *ngIf="estadoimg2" class="row">
  <div class="card col-lg-4" style="width: 18rem;">
    <img src="./assets/ropa mujer 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

  <div class="card col-lg-4" style="width: 18rem;">
    <img src="./assets/ropa mujer 2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

  <div class="card col-lg-4" style="width: 18rem;">
    <img src="./assets/ropa mujer 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
</div>

<div *ngIf="estadoimg3" class="row">
  <div class="card col-lg-4" style="width: 18rem;">
    <img src="./assets/ropa deportiva 1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

  <div class="card col-lg-4" style="width: 18rem;">
    <img src="./assets/ropa deportiva 2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

  <div class="card col-lg-4" style="width: 18rem;">
    <img src="./assets/ropa deportiva 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
</div>